packages/
*.suo
bin/
obj/
_ReSharper*/
*.user
TopHat.Generated.cs
*.psess
*.vspx


# MonoDevelop Files
*.userprefs

# Ignore the nuget build output
NuGetBuild/
*.nupkg
Tools/Stiletto*

# graphviz detritus
*.dot
*.pdf
graphviz/
